@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .black-linear-vertical {
    @apply bg-gradient-to-t from-[#24242E] to-[#131217];
  }
}

.btn-primary-gold {
    background: url("./../public/buttonbackground.svg") no-repeat center
}

.btn-primary-silver {
    background: url("./../public/buttonbackgroundSilver.svg") no-repeat center
}

.btn-primary-player {
    background: url("./../public/buttonbackgroundPlayer.svg") no-repeat center
}

.background-primary-gold {
        background: url("./../public/RegistrationBackground.svg");
        background-size: cover;
}

.background-primary-silver {
        background: url("./../public/RegistrationBackgroundSilver.svg");
        background-size: cover;
}

.background-primary-player {
        background: url("./../public/RegistrationBackgroundPlayer.svg");
        background-size: cover;
}